name: Test

on: [push, pull_request]

jobs:
  build:
    # As of January 19, 2022, the MATLAB action has undocumented support for Windows and MacOS shared runners
    # (https://github.com/matlab-actions/setup-matlab/issues/18#issuecomment-1006990188). This is in version
    # 1.1.0 of the action, and only provides the bare Matlab and Simulink products with no toolboxes.
    #
    # Lock the Windows version to 2019 because the 2022 image doesn't include a supported compiler for the
    # available MATLAB version (https://github.com/matlab-actions/setup-matlab/issues/29#issuecomment-1048390901).
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2019]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Install MATLAB
        uses: matlab-actions/setup-matlab@v1
        with:
          # Use R2023a due to a licensing bug with R2023b and the GitHub actions shared runners
          release: R2023a

      - name: Build OSQP interface
        uses: matlab-actions/run-command@v1
        with:
          command: osqp.build('osqp_mex')

      - name: Run tests
        uses: matlab-actions/run-tests@v1
        with:
          source-folder: ./
          select-by-folder: unittests
          test-results-junit: test-results/results.xml

      - name: Publish Test Results
        uses: mikepenz/action-junit-report@v2
        with:
          fail_on_failure: true
          check_name: Test results - ${{ matrix.os }}
          report_paths: 'test-results/**/*.xml'
